
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/quan-ly-quan-an/v17/.wsuo
.vs/quan-ly-quan-an/FileContentIndex/read.lock
.vs/quan-ly-quan-an/FileContentIndex/0da05001-6ce0-4e55-bbdf-f547bf564aec.vsidx
Restaurant Management/.DS_Store
Restaurant Management/Restaurant Management.csproj.user
Restaurant Management/Restaurant Management.csproj.user
Restaurant Management/Restaurant Management.csproj.user
